.inputContainer {
    width: 90%;
    padding: .5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-weight: 500;
}

.input {
    width: 60%;
    padding: .2em;
    background-color: var(--black);
    border: none;
    border-bottom: 1px solid var(--base-green);
}

.input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--light-green);
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .inputContainer {
        flex-direction: column;
        align-items: start;
        gap: .5em;
    }

    .input {
        width: 90%;
    }
}