.container {
    width: 100%;
    max-width: 100%;
    min-height: 55vh;
    padding: 1em;
    padding-bottom: 5em;
    background: linear-gradient(90deg, var(--extra-light-green), var(--base-green));
}