/* PALETA DE COLORES */
:root{
    --black: #18181b;
    --dark-green: #0a412c;
    --base-green: #0fa968;
    --light-green: #81f4c3;
    --extra-light-green: #effef7;
    --white: #f7f7f8;
}

/* ESTILOS GLOBALES */

/* Fonts: "Teko" - "Raleway" */

*{
    margin: 0;
    padding: 0;
    width: fit-content;
    max-width: 100%;
    background-color: transparent;
    font: 18px 'Raleway', sans-serif;
    color: var(--white);
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}